git "https://github.com/SnapKit/SnapKit"
git "https://github.com/Moya/Moya" "update-swift-version"
git "https://github.com/evgenyneu/keychain-swift"
git "https://github.com/jverdi/JVFloatLabeledTextField"
git "https://github.com/eddiekaiger/SwiftyAttributes"
git "https://github.com/thii/FontAwesome.swift"
git "https://github.com/ashfurrow/Nimble-Snapshots"
git "https://github.com/Quick/Quick"
